.headrContainer{
    background-image: linear-gradient(#0000006b,#0000006b),url('../../../image/bannder.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
}